@namespace IMS_Interface

@inherits LayoutComponentBase
@using IMS_Library;

<div class="sidebar" style="background-image:none; height:100vh"></div>

<div class="main">
    <div class="px-4">
        @Body
    </div>
</div>
