@using IMS_Library

@inherits BackupPolicyDisplayView

<style>
    .form-control {
        display:inline-block;
        width:200px;
        margin-left:2px;
        margin-right:2px;
    }
</style>
<div style="display:inline-block">
    <label>Create a backup named </label>
    <input class="form-control" style="display:inline-block; width:200px" @bind="@Policy.BackupName" />
    <label> after every </label>
    <input class="form-control" type="number" min="1" style="display:inline-block; width:200px" @bind="CurrentBackupTime" />
    <label> hour(s).</label>
</div>

@code {
    public BackupAfterTimeIntervalPolicy Policy { get => (BackupAfterTimeIntervalPolicy)BackupPolicy; }
    protected string CurrentBackupTime { get => Math.Floor(Policy.BackupInterval.TotalHours).ToString(); set {
            int totalValue;
            if(int.TryParse(value, out totalValue))
            {
                Policy.BackupInterval = new TimeSpan(totalValue, 0, 0);
            }
        }
    }
}
