@using IMS_Library

@inherits BackupPolicyDisplayView

<style>
    .form-control {
        display: inline-block;
        width: 200px;
        margin-left: 2px;
        margin-right: 2px;
    }
</style>
<div style="display:inline-block">
    <label>Delete any backup named </label>
    <input class="form-control" style="display:inline-block; width:200px" @bind="@Policy.BackupName" />
    <label> that is over </label>
    <input class="form-control" type="number" min="1" style="display:inline-block; width:200px" @bind="CurrentBackupTime" />
    <label> hour(s) old.</label>
</div>

@code {
    public RemoveBackupAfterTimeIntervalPolicy Policy { get => (RemoveBackupAfterTimeIntervalPolicy)BackupPolicy; }
    protected string CurrentBackupTime
    {
        get => Math.Floor(Policy.BackupRemovalTime.TotalHours).ToString(); set
        {
            int totalValue;
            if (int.TryParse(value, out totalValue))
            {
                Policy.BackupRemovalTime = new TimeSpan(totalValue, 0, 0);
            }
        }
    }
}
