@inherits PreferenceDisplayView
@using System.Reflection

<label>@DisplayData.DisplayName</label>
<br />
<div data-toggle="tooltip"
     data-placement="right"
     data-title="@DisplayData.Description" style="display:inline-block; margin:5px 0px">
    <MultiToggle Options="GetOptions()"
                 SelectedIndex="@SelectedItem"
                 OnSelectionChange="@(x => SelectedItem = x)"></MultiToggle>
</div>
<br />

@code {
    public virtual int SelectedItem
    {
        get
        {
            return (bool)DisplayData.ParentDisplay.CurrentConfiguration.GetType()
                .GetField(DisplayData.FieldName, BindingFlags.Public | BindingFlags.Instance)
                .GetValue(DisplayData.ParentDisplay.CurrentConfiguration) ? 0 : 1;
        }
        set
        {
            if(value == 0 || value == 1)
            {
                DisplayData.ParentDisplay.CurrentConfiguration.GetType().GetField(DisplayData.FieldName, BindingFlags.Public | BindingFlags.Instance).SetValue(DisplayData.ParentDisplay.CurrentConfiguration, value == 0);
            }
            DisplayData.ParentDisplay.NotifyStateChanged();
        }
    }

    protected string[] GetOptions() {
        return new[] { (DisplayData as BooleanDisplay).WhenTrue, (DisplayData as BooleanDisplay).WhenFalse };
    }
}
