@namespace IMS_Interface.Preferences

@using IMS_Library
@using System.Reflection;

<style>
    label {
        font-weight: 100;
        margin-bottom: 0;
    }
</style>

@foreach (PreferenceDisplay display in FieldDisplays)
{
    display.ParentDisplay = this;
    RenderFragment fragment = builder =>
    {
        builder.OpenComponent(0, display.GetComponentType());
        builder.AddAttribute(0, "DisplayData", display);
        builder.CloseComponent();
    };
    @fragment
    if (!(display is ConditionalDisplay))
    {
        <br />
    }
}
<div style="padding: 6px;background-color: white;border-radius: 3px;float:right;position: sticky;bottom: 20px;z-index: 20;border: 1px solid #ddd;">
    @if (!string.IsNullOrEmpty(ErrorText))
    {
        <label class="alert alert-success" style="padding:6px; margin-right:8px; margin-bottom:unset">@ErrorText</label>
    }
    @if (!string.IsNullOrEmpty(ApplyText))
    {
        <button class="btn btn-success" style="margin: 0px 5px 0px 0px;" @onclick="Apply">@ApplyText</button>
    }
    @if (!string.IsNullOrEmpty(RevertText))
    {
        <button class="btn btn-warning" @onclick="Revert">@RevertText</button>
    }
    @if (!string.IsNullOrEmpty(ResetText))
    {
        <button class="btn btn-danger" style="margin: 0px 0px 0px 5px;" @onclick="Reset">@ResetText</button>
    }
</div>
<br />
<br />

@code {

    [Parameter]
    public string ApplyText { get; set; } = "Apply";
    [Parameter]
    public string RevertText { get; set; } = "Revert";
    [Parameter]
    public string ResetText { get; set; } = "Reset to Default";

    public string ErrorText;

    [Parameter]
    public IMSConfiguration StartingConfiguration
    {
        set
        {
            CurrentConfiguration = value;
        }
    }

    public IMSConfiguration CurrentConfiguration
    {
        get
        {
            return (IMSConfiguration)LoadedConfiguration;
        }
        set
        {
            if (value is null)
            {
                LoadedConfiguration = InitialConfiguration = null;
            }
            else
            {
                LoadedConfiguration = (IMSConfiguration)value.Clone();
                InitialConfiguration = (IMSConfiguration)value.Clone();
            }
        }
    }
    [Parameter]
    public List<PreferenceDisplay> FieldDisplays { get; set; }
    [Parameter]
    public EventCallback<IMSConfiguration> OnApply { get; set; }
    [Parameter]
    public EventCallback<IMSConfiguration> OnRevert { get; set; }
    [Parameter]
    public EventCallback<IMSConfiguration> OnReset { get; set; }

    private IMSConfiguration LoadedConfiguration;
    private IMSConfiguration InitialConfiguration;

    public void NotifyStateChanged()
    {
        ErrorText = null;
        StateHasChanged();
    }

    public void NotifyStateChanged(bool maintainErrorText)
    {
        StateHasChanged();
    }

    protected async Task Apply()
    {
        InitialConfiguration = (IMSConfiguration)LoadedConfiguration.Clone();
        await OnApply.InvokeAsync((IMSConfiguration)CurrentConfiguration.Clone());
    }

    protected async Task Revert()
    {
        ErrorText = null;
        await OnRevert.InvokeAsync(CurrentConfiguration);
        CurrentConfiguration = InitialConfiguration;
    }

    protected async Task Reset()
    {
        ErrorText = null;
        await OnReset.InvokeAsync(CurrentConfiguration);
        LoadedConfiguration = (IMSConfiguration)Activator.CreateInstance(CurrentConfiguration.GetType());
    }
}
