@page "/counter"
@implements IDisposable

@inject IJSRuntime JSRuntime

<h1>@Count</h1>

@functions {
    private int Count { get; set; } = 10;
    public Timer CountdownTimer;

    private readonly string[] options = new[] { "Option boy", "Optione bb", "c" };

    protected override void OnAfterRender(bool firstRender)
    {
        //JSRuntime.InvokeVoidAsync("initializeSummernote");
    }

    void StartCountdown()
    {
        CountdownTimer.Enabled = true;
    }

    void Ticker()
    {
        Count--;
        if (Count == 0)
        {
            CountdownTimer.Enabled = false;
        }
    }

    public void Dispose()
    {
        try
        {
            //JSRuntime.InvokeVoidAsync("destroySummernote");
        }
        catch { }
    }
}