@page "/IMSLogViewer"

@namespace IMS_Interface

@using IMS_Library
<h3>IMS Logs</h3>

<div style="border:solid 1px #ddd; border-radius:3px">
    <LogViewer LogManager="IMS.Instance"></LogViewer>
</div>

