@namespace IMS_Interface

@page "/"
@using System.IO
@inject NavigationManager manager
@inject DownloadManager downloader
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
index pagee
<h1>ff</h1>

Welcome to your neeew CRAP.
Aedd

<button @onclick="Yeet">Click for yeet</button>

@code {
    protected void Yeet()
    {
        downloader.ZipAndDownloadFolderAsync(manager, "C:/Users/Douglas/Documents/AP EXAM 2020");
    }
}