@namespace IMS_Interface

@page "/"
@using IMS_Library
@inject NavigationManager Navigator
@inject ServerProvider ServerSelector

<h3>IMS Overview</h3>
<div style="width:fit-content;height:fit-content;margin:auto">
    @foreach (ServerProxy server in IMS.Instance.ServerManager.Servers)
    {
        <ServerOverviewWidget CurrentServer="server" OnDelete="StateHasChanged"></ServerOverviewWidget>
        <br />
    }
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if(ServerSelector.CurrentServer is null)
        {
            Navigator.NavigateTo("/CreateNewServer");
        }
    }
}