@namespace IMS_Interface

@using System.Reflection
@using IMS_Library

@page "/ReleaseNotes"

<style>
    .header-label {
        font-weight: normal;
        margin-top: 5px;
    }
</style>

<h3>Release Notes</h3>
<label style="font-weight:normal"><i>IMS Alpha v@(Assembly.GetAssembly(typeof(IMS)).GetName().Version)</i></label>
<br />
<br />
<div style="max-width:500px">
    <!--
    <label class="header-label"><b>Features</b></label>
    <ul>
        <li>This is the first IMS pre-release.</li>
        <li>Added the ability to start the IMS service by running the IMS-Service.exe executable.</li>
    </ul>-->
    <label class="header-label"><b>Bugfixes</b></label>
    <ul>
        <li>Fixed incorrect formatting of a shell command used to make exceptions for servers in the Windows firewall.</li>
    </ul>
    <label class="header-label"><b>Maintenance</b></label>
    <ul>
        <li>Added logging support for the IMS update routine.</li>
    </ul>
</div>

@code {

}
