@namespace IMS_Interface

@using System.Reflection
@using IMS_Library

@page "/ReleaseNotes"

<style>
    .header-label {
        font-weight: normal;
        margin-top: 5px;
    }
</style>

<h3>Release Notes</h3>
<label style="font-weight:normal"><i>IMS v@(Assembly.GetAssembly(typeof(IMS)).GetName().Version)</i></label>
<br />
<br />
<div style="max-width:500px">
    <label class="header-label"><b>Features</b></label>
    <ul>
        <li>Added the ability to make Bedrock server backups without the server restarting.</li>
    </ul>
    <label class="header-label"><b>Bugfixes</b></label>
    <ul>
        <li>Fixed a bug where newly-created Java servers wouldn't start due to the inexistence of a log folder.</li>
    </ul>
    <!--
    <label class="header-label"><b>Maintenance</b></label>
    <ul>
        <li>Added proper versioning support for Minecraft: Bedrock Edition binaries.</li>
        <li>Removed all Minecraft server binaries from IMS in order to be Mojang EULA-compliant.</li>
    </ul>-->
</div>

@code {

}
