@namespace IMS_Interface

@using System.Reflection
@using IMS_Library

@page "/ReleaseNotes"

<style>
    .header-label {
        font-weight: normal;
        margin-top: 5px;
    }
</style>

<h3>Release Notes</h3>
<label style="font-weight:normal"><i>IMS v@(Assembly.GetAssembly(typeof(IMS)).GetName().Version)</i></label>
<br />
<br />
<div style="max-width:500px">
    <label class="header-label"><b>Bugfixes</b></label>
    <ul>
        <li>Fixed the reset username/password button, which would only display a reset request to the host if IMS was running as a user-space application.</li>
        <li>Updated the IMS installer to properly allow for custom installation directories.</li>
        <li>Updated Java to version 16, allowing Minecraft 1.17 servers to run.</li>
        <li>IMS no longer attempts to forward Java servers' querying port when query is disabled.</li>
    </ul>
    <label class="header-label"><b>Maintenance</b></label>
    <ul>
        <li>Updated Bedrock server configurations with properties for the latest Bedrock server version.</li>
    </ul>
</div>

@code {

}