@namespace IMS_Interface

@using System.Reflection
@using IMS_Library

@page "/ReleaseNotes"

<style>
    .header-label {
        font-weight: normal;
        margin-top: 5px;
    }
</style>

<h3>Release Notes</h3>
<label style="font-weight:normal"><i>IMS v@(Assembly.GetAssembly(typeof(IMS)).GetName().Version)</i></label>
<br />
<br />
<div style="max-width:500px">
    <label class="header-label"><b>Bugfixes</b></label>
    <ul>
        <li>IMS now removes outdated Java binaries that interfere with the version 16 JVM.</li>
    </ul>
</div>

@code {

}